
.vs/WPFApplications/v15/Server/sqlite3/storage.ide-wal
.vs/WPFApplications/v15/Server/sqlite3/storage.ide-shm
.vs/WPFApplications/v15/Server/sqlite3/storage.ide
.vs/WPFApplications/v15/Server/sqlite3/db.lock
.vs/WPFApplications/v15/.suo
.vs/WPFApplications/DesignTimeBuild/.dtbcache
ConsoleAppTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleAppTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DevTool/obj/Debug/App.g.i.cs
DevTool/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DevTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DevTool/obj/Debug/DevTool_Content.g.i.cs
DevTool/obj/Debug/DevTool_MarkupCompile.i.cache
DevTool/obj/Debug/DevTool_MarkupCompile.i.lref
DevTool/obj/Debug/ErrorScreen.g.i.cs
DevTool/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
DevTool/obj/Debug/SplashScreen.g.i.cs
DevTool/obj/Debug/SplashScreen1.g.i.cs
DevTool/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ModelService/obj/project.assets.json
packages/Newtonsoft.Json.12.0.3/.signature.p7s
packages/Newtonsoft.Json.12.0.3/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/LICENSE.md
packages/Newtonsoft.Json.12.0.3/Newtonsoft.Json.12.0.3.nupkg
packages/Newtonsoft.Json.12.0.3/packageIcon.png
packages/WpfAnimatedGif.2.0.0/.signature.p7s
packages/WpfAnimatedGif.2.0.0/lib/net35/WpfAnimatedGif.dll
packages/WpfAnimatedGif.2.0.0/lib/net35/WpfAnimatedGif.pdb
packages/WpfAnimatedGif.2.0.0/lib/net35/WpfAnimatedGif.xml
packages/WpfAnimatedGif.2.0.0/lib/net40/WpfAnimatedGif.dll
packages/WpfAnimatedGif.2.0.0/lib/net40/WpfAnimatedGif.pdb
packages/WpfAnimatedGif.2.0.0/lib/net40/WpfAnimatedGif.xml
packages/WpfAnimatedGif.2.0.0/lib/netcoreapp3.0/WpfAnimatedGif.dll
packages/WpfAnimatedGif.2.0.0/lib/netcoreapp3.0/WpfAnimatedGif.pdb
packages/WpfAnimatedGif.2.0.0/lib/netcoreapp3.0/WpfAnimatedGif.xml
packages/WpfAnimatedGif.2.0.0/WpfAnimatedGif.2.0.0.nupkg
UtilityService/obj/Debug/netstandard2.0/UtilityService.assets.cache
UtilityService/obj/project.assets.json
ConsoleAppTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DevTool/obj/Debug/App.g.i.cs
DevTool/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DevTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DevTool/obj/Debug/DevTool_Content.g.i.cs
DevTool/obj/Debug/DevTool_MarkupCompile.i.cache
DevTool/obj/Debug/DevTool_MarkupCompile.i.lref
DevTool/obj/Debug/SplashScreen.g.i.cs
DevTool/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ModelService/obj/project.assets.json
UtilityService/obj/Debug/netstandard2.0/UtilityService.assets.cache
UtilityService/obj/project.assets.json
