
.vs/WPFApplications/v15/Server/sqlite3/storage.ide-wal
.vs/WPFApplications/v15/Server/sqlite3/storage.ide-shm
.vs/WPFApplications/v15/Server/sqlite3/storage.ide
.vs/WPFApplications/v15/Server/sqlite3/db.lock
.vs/WPFApplications/v15/.suo
.vs/WPFApplications/DesignTimeBuild/.dtbcache
ConsoleAppTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
